[Unit]
Description=Brunch-eater Backend Websocket Server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/home/luftaquila/HDD/brunch-eater/server
ExecStart=/usr/local/bin/node /home/luftaquila/HDD/brunch-eater/server/index.js
Restart=always

[Install]
WantedBy=multi-user.target
